<form method="get" action="{{ path('admin_user_index') }}" class="form-inline form-filter">
    <div class="input-group">
        {{ form_widget(form.name) }}
    </div>
    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
</form>