default:
    formatters:
        pretty:
            verbose:  true
            paths:    false
            snippets: false

    suites:
        default:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - Tempo\Bundle\AppBundle\Behat\FeatureContext
                - Tempo\Bundle\AppBundle\Behat\DataContext
                - Tempo\Bundle\AppBundle\Behat\UserContext
            mink_javascript_session: selenium2

    extensions:
        Behat\MinkExtension:
            base_url: 'http://localhost:8000'
            sessions:
                default:
                    goutte: ~
                selenium2:
                    selenium2: ~
            browser_name: firefox
            show_auto: false
        Behat\Symfony2Extension: ~

javascript:
    extensions:
        Behat\MinkExtension:
            base_url: 'http://localhost:8000'
            sessions:
                javascript:
                    selenium2: ~
            browser_name: firefox
            show_auto:    false
