default:
    formatters:
        pretty:
            verbose:  true
            paths:    false
            snippets: false

    suites:
        default:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - Tempo\Bundle\AppBundle\Behat\FeatureContext
                - Tempo\Bundle\AppBundle\Behat\DataContext
                - Tempo\Bundle\AppBundle\Behat\UserContext

    extensions:
        Behat\MinkExtension:
            selenium2: ~

            browser_name: firefox
            show_auto:    false
        Behat\Symfony2Extension: ~
