{% block content %}
    <form action="{{ path('timesheet_update', { 'id': timesheet.id }) }}" method="post">
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit" class="fantomas btn btn-sm btn-primary">Edit</button>
        </p>
    </form>
{% endblock content %}
