@import "../../web/vendor/bootstrap/less/bootstrap.less";
@icon-font-path: "/vendor/bootstrap/fonts/";

@import (inline) '../../web/vendor/jquery-ui-bootstrap/jquery.ui.theme.css';
@import (inline) '../../web/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css';
@import (inline) '../../web/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css';
@import "../../web/vendor/selectize/dist/less/selectize.bootstrap3.less";
@import "../../web/vendor/ionicons/less/ionicons.less";
@ionicons-font-path: "/vendor/ionicons/fonts/";
@btn-primary-bg: #005782;
@input-border-radius: 2px;

@import 'layout';
@import 'bundles';

