{% extends "TempoAppBundle::layout.html.twig" %}

{% from 'TempoAppBundle:Macros:actions.html.twig' import update %}
{% import 'TempoAppBundle:Macros:buttons.html.twig' as buttons %}
{% block bodyClass %}backend users update{% endblock %}

{% block content %}

<div class="page-header clearfix">
    <h1 class="pull-left"> {{ 'tempo.user.update.page_title'|trans}}</h1>
    <div class="pull-right">
        {{ buttons.delete(path('backend_user_delete', {'id': user.id}), null, user.id is sameas(app.user.id)) }}
    </div>
</div>

<form action="{{ path('backend_user_update', {'id': user.id}) }}" method="post" class="form-horizontal" novalidate>
    <input type="hidden" name="_method" value="PUT">
    {% include 'TempoAppBundle:Backend/User:_form.html.twig' %}
    {{ update() }}
</form>
{% endblock %}
