<ul>
    <li class="feed clearfix">
        <div class="author">
            <a href="#">
                <img width="33" src="{{ gravatar(activity.data.committer_email, 30) }}" />
            </a>
        </div>
        <div class="message">
                <strong>{{ activity.message }}</strong>
        </div>
        <div class="meta">{{ activity.createdAt|localizeddate('medium', 'none', app.request.locale) }} - Travis </div>
    </li>
</ul>
