<div class="col-md-2">
    <ul class="nav nav-pills  nav-stacked">
        <li><a href="#webhooks" data-toggle="tab">{{ 'tempo.project.hook'|trans }}</a></li>
        <li class="active"><a href="#providers" data-toggle="tab">{{ 'tempo.project.service_hooks'|trans }}</a></li>
    </ul>
</div>