{% extends "TempoAppBundle::layout.html.twig" %}
{% block bodyClass %}project settings{% endblock %}

{% block container %}

<div class="col-md-2">
    <ul class="nav nav-pills  nav-stacked">
        <li><a href="#webhooks" data-toggle="tab">{{ 'tempo.project.hook'|trans }}</a></li>
        <li class=" active"><a href="#providers" data-toggle="tab">{{ 'tempo.project.service-hooks'|trans }}</a></li>
    </ul>
</div>
<div class="col-md-8">
    <div class="tab-content">
        <div class="tab-pane fade" id="options">

        </div>
        <div class="tab-pane in active" id="providers">
            {{ render(controller('TempoAppBundle:Provider:list', { 'slug': project.slug })) }}
        </div>
    </div>

</div>

{% endblock container %}
