{% extends "TempoAppBundle::layout.html.twig" %}
{% block bodyClass %}project settings{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@TempoAppBundle/Resources/assets/js/views/projectView.js'
    output="js/project.js" filter="?uglifyjs2"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block container %}

{{ include('@TempoApp/Project/_sidebar.html.twig') }}
<div class="col-md-8">
    <div class="tab-content">
        <div class="tab-pane fade" id="options">

        </div>
        <div class="tab-pane in active" id="providers">
            {{ render(controller('TempoAppBundle:Provider:list', { 'slug': project.slug })) }}
        </div>
    </div>

</div>

{% endblock container %}
