{% extends "TempoAppBundle::layout.html.twig" %}
{% block bodyClass %}organization create{% endblock %}

{% block javascripts %}
    {% javascripts
        '@TempoAppBundle/Resources/assets/js/src/views/organizationView.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block container %}
    <div class="container">
        <h1 id="page-title">Create an organization</h1>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="{{ path('organization_create') }}" method="post" class="organization-add clearfix">

                        {{ form_widget(form) }}

                        <div class="rest clearbox">
                            <button type="submit" class="submit btn btn-primary fantomas">{{ 'tempo.form.save'|trans }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Organizations</h3>
                </div>
                <div class="panel-body">

                    <ul class="features-list no-list">
                        <li><span class="glyphicon glyphicon-ok"></span> Project management</li>
                        <li><span class="glyphicon glyphicon-ok"></span> Fine-grained permissions</li>
                        <li><span class="glyphicon glyphicon-ok"></span> Focused dashboard</li>
                    </ul>

                    <hr>

                    <h3>Managed by admins</h3>
                    <p>On the next screen you’ll be able to grant administrative access to other users. These people will be able to manage every aspect of the organization (project, teams, etc).</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
