<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="tempo.event.listener.activity.class">Tempo\Bundle\AppBundle\EventListener\ActivitySubscriber</parameter>
        <parameter key="tempo.listener.project.class">Tempo\Bundle\AppBundle\EventListener\ProjectListener</parameter>
        <parameter key="tempo.activity.listener.activity_provider.class">Tempo\Bundle\AppBundle\EventListener\ActivityProviderListener</parameter>
    </parameters>

    <services>

        <service id="tempo.listener.controller" class="%tempo.eventlistener.class%">
            <tag name="kernel.event_listener" event="kernel.controller" method="onKernelController"/>
        </service>

        <service id="tempo.event.listener.access" class="%tempo.event.listener.activity.class%">
            <argument type="service" id="tempo.model_manager.activity" />
            <argument type="service" id="tempo.model_manager.notification" />
            <tag name="kernel.event_subscriber" />
        </service>

        <service id="tempo.activity.listener.activity_provider" class="%tempo.activity.listener.activity_provider.class%">
            <argument type="service" id="tempo.domain_manager" />
            <argument type="service" id="tempo.model_manager.room" />
            <argument type="service" id="jms_serializer" />
            <argument type="service" id="tempo.elephantio.client" />
            <tag name="kernel.event_listener" event="tempo.activity.provider.create.success" method="pingActivityRoom" />
        </service>

        <service id="tempo.listener.project" class="%tempo.listener.project.class%">
            <argument type="service" id="tempo.model_manager.room" />
            <argument type="service" id="tempo.activity.provider_registry" />
            <tag name="kernel.event_listener" event="tempo.project.pre_create" method="createProject" />
        </service>
    </services>

</container>
