{% block content %}

<form class="time-form" action="{{ path('timesheet_create') }}" method="post">
    {{ form_row(form.workedTime) }}
    {{ form_widget(form) }}
    <p>
        <button type="submit">{{ 'tempo.form.create'|trans }}</button>
    </p>
</form>
{% endblock %}
