{% block javascripts %}
    {% javascripts
        '../client/js/src/views/organizationView.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <form action="{{ path('organization_create') }}" method="post" class="organization-add clearfix">

        {{ form_widget(form) }}

        <div class="rest">
            <input type="submit" class="submit btn btn-primary" value="{{ 'tempo.form.save'|trans }}" />
        </div>
    </form>
{% endblock %}
