{% extends "TempoAppBundle:Mail:layout.html.twig" %}

{% block content %}Invitation{% endblock %}
{% block content %}
    You recieved an invitation from {{ user.fullName }}.
    To start sharing tasks and working on {{ resource.name }}, simply click on the button below to create your account.

    <br />
    <a href="{{ tempo.host ~ path('user_register', {'token': access.inviteToken}) }}">Create an account</a>

{% endblock %}
